
<!-- About Section -->
<div id="about" class="page">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">Yhteisöstä</h2>
                
                <div class="page-description">
                    <p>Yhteinen on vuonna 2013 perustettu yhteisö, joka järjestää ruohonjuuritason luovaa toimintaa ja tapahtumia, tiedottaa tapahtumista ja saattaa ihmisiä yhteen. Yhteisen takana on joukko yhteisöllisyydestä, rakentavasta keskustelusta ja kantaaottavasta luovuudesta kiinnostuneita ihmisiä. Toimintamme ei perustu millekään tietylle ideologialle emmekä tavoittele taloudellista voittoa.
                    </p>
                </div>
                
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    
    <div class="row margin-60">
      <div class="span4">
          <h3>Mitä?</h3>
      <p>Tarjoamme innostavaa yhdessä tekemistä joka ei perustu taloudelliselle hyödylle. Tarkoituksenamme on luoda puitteet joissa yhdessä tekemisen, oppimisen ja kokeilun kautta voi luoda yhteyttä itseen, toisiin ja toisista huolehtimiseen.</p>
        </div>
        
        <div class="span4">
          <h3>Miksi?</h3>
            <p>Koemme, että maailmassa on liikaa kilpailua ja materiaalisten palkintojen perässä juoksemista. Haluamme olla mukana rakentamassa vastavuoroisuuteen, välittämiseen ja henkiseen hyvinvointiin perustuvaa kulttuuria.
</p>
        </div>
        
        <div class="span4">
          <h3>Kuinka?</h3>
<p>Alustallamme voit osallistua projekteihimme, tiedottaa tapahtumistasi sekä ehdottaa uusia ideoita. Osallistumisesta on yritetty tehdä mahdollisimman helppoa. Voit myös esitellä itsesi ja tutustua muihin käyttäjiin keskustelu-osiossa.</p>
        </div>
        
    </div>

    <div class="row">
    <div class="span4 offset4">
    <a href="<%= Discourse.base_url %>/faq"><h2><span class="font-icon-group"></span> Yhteisön säännöt</h2></a>
    </div>
    </div>

    <% if @showteam %>

    <div class="sep">
      <span class="separator"></span>
    </div>
    
    <!-- People -->
    <div class="row">
      
      
        <!-- Start Profile -->
      <div class="span3 profile">
          <div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">CTO/Founder</span>
                </div>
                <img style="position: relative; top: -60px;" src="https://scontent-a-fra.xx.fbcdn.net/hphotos-frc1/l/t31/906149_448983881853610_1970409986_o.jpg" alt="Tuire Hannele">
            </div>
            <h3 class="profile-name">Tuire Hannele</h3>
            <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
            Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
              
            <div class="social">
              <ul class="social-icons">
                  <li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-dribbble"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-facebook"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End Profile -->
        
        <!-- Start Profile -->
      <div class="span3 profile">
          <div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Creative Director</span>
                </div>
                <img style="height: 240px; width: initial; left: -80px; position: relative;" src="https://scontent-a-fra.xx.fbcdn.net/hphotos-frc3/t31/1085089_10151624782099092_1271741010_o.jpg" alt="Eero Heikkinen">
            </div>
            <h3 class="profile-name">Eero Heikkinen</h3>
            <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
            Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
              
            <div class="social">
              <ul class="social-icons">
                  <li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-email"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End Profile -->
        
        <!-- Start Profile -->
      <div class="span3 profile">
          <div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Lead Designer</span>
                </div>
                <img style="position: relative; top: -115px;" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc3/t31/457773_10150702569746523_1154906476_o.jpg" alt="Paula Nikkari">
            </div>
            <h3 class="profile-name">Paula Nikkari</h3>
            <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
            Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
              
            <div class="social">
              <ul class="social-icons">
                  <li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-linkedin"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-google-plus"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-vimeo"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End Profile -->

        <!-- Start Profile -->
      <div class="span3 profile">
          <div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Lead Designer</span>
                </div>
                <img style="position: relative; top: -30px;" src="https://scontent-b-fra.xx.fbcdn.net/hphotos-prn1/t1.0-9/1560759_10152262061614497_266254743_n.jpg" alt="Tomi Mikkola">
            </div>
            <h3 class="profile-name">Tomi Mikkola</h3>
            <p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
            Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
              
            <div class="social">
              <ul class="social-icons">
                  <li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-linkedin"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-google-plus"></i></a></li>
                    <li><a href="#"><i class="font-icon-social-vimeo"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End Profile -->
        
    </div>
    <!-- End People -->
    <% end %>
</div>
</div>
<!-- End About Section -->