/*
Enter Here your Custom CSS Style!!
*/

header #logo a {
	background-size: 116px 30px;
}

header #logo a {
	width: 116px;
}

header {
	/*position: absolute;*/
}

#home-slider {
	margin-top: -60px;
}

#home-slider ul#slide-list {
	bottom: 0;
	padding: 0;
	margin: -6px 0 15px 0;
}

#home-slider .control-nav {
	background: transparent;
}

.type-work {
background-image: none;
}

.item-thumbs a + img {
	margin-left: -21px;
	margin-right: -21px;
	margin-top: -21px;
	margin-bottom: 10px;
	width: initial;
}

#projects .item-thumbs a + img {
	max-width: 311px;
}


.item-thumbs {
	font-size: 16px;
	line-height: 25px;
	color: #666666;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.27);
	clear: both;
	min-height: 130px;
}

.page .event-details {
	background-color: #26292E;
}

.page-alternate .item-thumbs {
	background-color: #2F3238;
}

.item-thumbs h4 {
	margin-bottom: 10px;
}

.item-thumbs p {
	margin: 0;
}

.item-thumbs .hover-wrap .overlay-img {
	left: -21px;
	top: -21px;
	width: 100%;
	height: 101%;
}

.item-thumbs .hover-wrap .overlay-img-thumb {
	margin: -37px 0 0 -37px;
}

.event-details {
	margin-bottom: 5px;
	margin-top: -15px;
	color: #666666;
}

.event-date {
	position: absolute;
	text-shadow: 1px 1px 6px #000000;
	left: 70px;
	top: 49px;
	font-size: 68px;
	font-weight: 500;
	color: #FFF;
}

#eventslist .item-thumbs {
	padding: 0;
}

#eventslist img {
	max-width: initial;
}

#eventslist .item-thumbs a + img {
	margin: 0;
	max-width: 100%;
}

#eventslist .item-thumbs h4 {
	margin-top: 5px;
	color: #FFF;
}

.filter-past {
	border-left: solid 1px #7C7C7C;
	padding-left: 30px !important;
}

.slide-content p {
	font-size: 18px;
	letter-spacing: 0px;
	text-transform: none;
	line-height: 18px;
	width: 40%;
	margin: auto;
}

.transparent {
	background-color: transparent;
}

.image-wrap {
	width: 100%;
	height: 240px;
}

.event-info {
	padding: 0;
}

@media (max-width: 768px) {
	.event-info {
		padding: 10px;
	}
}

/* full-calendar */

.page-alternate .fc-content {
	background-color: #2F3238;
}

.fc-widget-header, .fc-widget-content {
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.fc-today {
	position: relative;
}

.fc-event {
	border: none;
	background-color: #DE5E60;
	color: #fff;
	font-size: 12px;
	line-height: 17px;
	padding: 2px;
}

/*.fc-state-highlight:before {
	position: absolute;
	text-shadow: 1px 1px 6px #000000;
	left: 11px;
	top: 38px;
	font-size: 28px;
	font-weight: 500;
	color: #FFF;
	content: "TÄNÄÄN";
}*/

.fc-state-highlight:before {
	text-shadow: 1px 1px 6px #000000;
	margin-right: 5px;
	margin-left: 5px;
	font-weight: 500;
	color: #FFF;
	content: "TÄNÄÄN";
	float: right;
}

.fc-today .fc-day-number {
	display: none;
}

.fc-state-highlight {
	background: #DE5E60;
}

.fc-header-right {
	padding-top: 15px !important;
}
