/*
Enter Here your Custom CSS Style!!
*/

header #logo a {
	background-size: 116px 30px;
}

header #logo a {
	width: 116px;
}

header {
	/*position: absolute;*/
}

#home-slider {
	margin-top: -60px;
}

#home-slider ul#slide-list {
	bottom: 0;
	padding: 0;
	margin: -6px 0 15px 0;
}

#home-slider .control-nav {
	background: transparent;
}

.type-work {
background-image: none;
}

.item-thumbs a + img {
	margin-left: -21px;
	margin-right: -21px;
	margin-top: -21px;
	margin-bottom: 10px;
	width: initial;
}

#projects .item-thumbs a + img {
	max-width: 311px;
}


.item-thumbs {
	font-size: 16px;
	line-height: 25px;
	color: #666666;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.27);
	clear: both;
}

.page .item-thumbs {
	background-color: #26292E;
}

.page-alternate .item-thumbs {
	background-color: #2F3238;
}

.item-thumbs h4 {
	margin-bottom: 10px;
}

.item-thumbs p {
	margin: 0;
}

.item-thumbs .hover-wrap .overlay-img {
	left: -21px;
	top: -21px;
	width: 280px;
	height: 101%;
}

.item-thumbs .hover-wrap .overlay-img-thumb {
	margin: -37px 0 0 -37px;
}

.event-details {
	margin-bottom: 5px;
	margin-top: -15px;
	color: #666666;
}

.event-date {
	position: absolute;
	text-shadow: 1px 1px 6px #000000;
	left: 70px;
	top: 49px;
	font-size: 68px;
	font-weight: 500;
	color: #FFF;
}

#eventslist .item-thumbs {
	width: 100%;
}

#eventslist .item-thumbs a + img {
	margin-right: 10px;
	margin-bottom: -21px;
	width: 280px;
	float: left;
}

#eventslist .item-thumbs p {
	max-height: 166px;
}

#eventslist .item-thumbs h4 {
	margin-top: -10px;
	color: #FFF;
}

.filter-past {
	border-left: solid 1px #7C7C7C;
	padding-left: 30px !important;
}

.slide-content p {
	font-size: 18px;
	letter-spacing: 0px;
	text-transform: none;
	line-height: 18px;
	width: 40%;
	margin: auto;
}

.image-wrap {
	width: 100%;
	height: 240px;
}

.page-alternate .fc-content {
	background-color: #2F3238;
}

.fc-widget-header, .fc-widget-content {
	border: 1px solid rgba(0, 0, 0, 0.3);
}