<nav id="bar">
  <div>
    <a class="nav-link" href="/">
      <img width="64" height="45" src="http://www.discourse.org/images/nav-icon-gray.png" alt="logo">
    </a>
    <a class="nav-link green" href="/events">Tapahtuu</a>
    <a class="nav-link yellow selected" href="/blog">Blogi</a>
    <a class="nav-link blue" href="/projects">Projektit</a>
    <a class="nav-link grey" href="/categories">Keskustelu</a>
  <a class="nav-link red" href="http://www.discourse.org/about/">Tietoa</a></div>
</nav>